%h1 Listing people

%table.table
  %thead
    %tr
      %th{ scope:'col' } Name
      %th{ scope:'col' } Description
      %th{ scope:'col' }
      %th{ scope:'col' }
      %th{ scope:'col' }

  %tbody
    - @people.each do |person|
      %tr
        %td= person.name
        %td= person.description
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Person', new_person_path
