%h1 Listing people

%div
  %div.row.header
    %div.col-sm Name
    %div.col-sm  Description
    %div.col-sm
    %div.col-sm
    %div.col-sm
  %div.body
    - @people.each do |person|
      %div.row
        %div.col-sm= person.name
        %div.col-sm= person.description
        %div.col-sm= link_to 'Show', person
        %div.col-sm= link_to 'Edit', edit_person_path(person)
        %div.col-sm= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }
  %div.row.footer

%br
= link_to 'New Person', new_person_path, class: 'btn btn-raised btn-primary'
