-# frozen_string_literal: true
- page_name= @album.persisted? ? t('view.edit') : t('view.new')
= render partial: 'breadcrumb', locals: { page_name: page_name }

= simple_form_for(@album) do |f|
  .row
    .form-actions.col
      = f.button :submit
      - if @album.persisted?
        = link_to t('view.show'), @album, class: 'btn btn-primary'
      = link_to t('view.back'), albums_path, class: 'btn btn-primary'
  .form-inputs
    .row
      = f.input :name
    .row
      = f.input :artist_id, collection: Person.all
      = f.input :publish_at
      = f.input :description
    .row
      = f.input :media_type, collection: Album.media_types_i18n
      = f.input :release_type, collection: Album.release_types_i18n
      = f.input :production_type, collection: Album.production_types_i18n
    .row
      .col
        = link_to_add_association t('view.add'), f, :tracks, class: 'btn btn-primary', data:{'association-insertion-node'=> 'div#tracks', 'association-insertion-method'=> 'prepend'}
    .row
      .col{ id: 'tracks'}
        = f.simple_fields_for :tracks do |track|
          = render partial: 'track_fields', locals: { f: track }
